 <h1>Wikis</h1>
 <% @wikis.each do |wiki| %>
   <% if wiki.private == false || (wiki.private == true && (current_user.admin? || current_user.premium?)) %>
   <div class="media">
     <div class="media-body">
       <h4 class="media-heading">
         <%= link_to wiki.title, wiki %>
       </h4>
     </div>
   </div>
   <% end %>
 <% end %>
 <a href="/wikis/new" class="btn btn-success wikibtn">Create New Wiki</a>
